<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="./css11/bootstrap.min.css" />
    <title>Mango</title>
  </head>
  <body>

 <!-- header -->
 <header class="header-area">
  <div class="container-fluid">
     <div class="row d_flex">
        <div class=" col-md-2 col-sm-3">
           <div class="logo">
              <a href="Home_PAGE.html" style="font-size: 30px;">Farm<span>Docc</span></a>
           </div>
        </div>
        <div class="col-md-8 col-sm-9">
           <div class="navbar-area">
              <nav class="site-navbar">
                 <ul>
                    <li><a class="active" href="Home_PAGE.html">Home</a></li>
                    <li><a href="Product.WEB.html">Product</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                      <li><a href="Contact_US.html">Contact Us</a></li>
                   
                    

                 </ul>
                 <button class="nav-toggler">
                 <span></span>
                 </button>
              </nav>
              <div class="col-md-2 padd_0 d_none">
                <ul class="email text_align_right" style="padding-top: 1.4em; padding-left: 20em;">
                 <li><a href="Landing_PAGE.html" style="color:#6b7908; font-weight: bold; font-size: 25px;" >Logout</a>
                </ul>
             </div>
           </div>
        </div>
        <!-- <div class="col-md-2 padd_0 d_none">
           <ul class="email text_align_right">
            <li><a href=".Landingpage.com" style="color:#6b7908; font-weight: bold; font-size: 25px;">Logout</a>
           </ul>
        </div> -->
     </div>
  </div>
  
</header>
<!-- end header inner -->





    <div class="mx-2 p-0">

      <div
        class="container-xl mb-5 border-0 rounded-4"
        style="
          background-image: url(./asset/img/pexels-julie-aagaard-2294471.jpg);
          background-size: cover;
          height: 500px;
          width: 1500px;
          background-position: center;
          margin-top: 150px;
        "
      ></div>
      <div
        class="container-xl border border-dark shadow-lg rounded-4 bg-success mb-5"
      >
        <p class="text-center text-white h5 py-5">
          Mango, scientifically Mangifera indica is renowned for <br />
          its sweet taste and convenient packaging. Flourishing in <br />
          tropical climates, bananas come in various sizes and <br />
          colors, with the Cavendish variety being most common. <br />
          Rich in potassium and other nutrients.
        </p>
      </div>

      <div id="myaccordion" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
            >
              <p class="text-white">Planting Of Seed</p>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordion"
          >
            <div class="accordion-body">
              <p class="text-white">
                You can germinate the seed by placing it in a shallow dish of
                water or directly plant it in a pot with soil. Planting mango
                seeds If using water, suspend the seed halfway in the water with
                the pointed end facing downwards. Change the water every few
                days to prevent stagnation and mold. If planting directly in
                soil, plant the seed about an inch deep with the pointed end
                facing down. Keep Moist Ensure that the seed or soil remains
                consistently moist but not waterlogged. Germination Time
                Germination typically takes 2-4 weeks, though it can vary.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordiontwo" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
            >
              <p class="text-white">Germination</p>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordiontwo"
          >
            <div class="accordion-body">
              <p class="text-white">
                Transplanting: Once the seed has sprouted and the seedling has a
                few leaves, transplant it into a larger pot or directly into the
                ground if the climate allows. Soil: Use well-draining soil with
                organic matter. Mangoes prefer slightly acidic soil with a pH of
                around 5.5 to 7.5. Sunlight: Place the seedling in a location
                where it receives plenty of sunlight, at least 6-8 hours a day.
                Watering: Keep the soil consistently moist, especially during
                the first year of growth. However, avoid waterlogging, as
                mangoes are susceptible to root rot.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionthree" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsethree"
            >
              <p class="text-white">Seedling Caring</p>
            </button>
          </h2>
          <div
            id="collapsethree"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionthree"
          >
            <div class="accordion-body">
              <p class="text-white">
                Transplanting: Once the seed has sprouted and the seedling has a
                few leaves, transplant it into a larger pot or directly into the
                ground if the climate allows. Soil: Use well-draining soil with
                organic matter. Mangoes prefer slightly acidic soil with a pH of
                around 5.5 to 7.5. Sunlight: Place the seedling in a location
                where it receives plenty of sunlight, at least 6-8 hours a day.
                Watering: Keep the soil consistently moist, especially during
                the first year of growth. However, avoid waterlogging, as
                mangoes are susceptible to root rot.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionfour" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsefour"
            >
              <p class="text-white">Cultivation</p>
            </button>
          </h2>
          <div
            id="collapsefour"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionfour"
          >
            <div class="accordion-body">
              <p class="text-white">
                Pruning: Regular pruning issential for shaping the tree,
                promoting air circulation, and removing dead or diseased
                branches. Prune during the dormant season (winter) to avoid
                interfering with fruit production. Pest and Disease Control:
                Keep an eye out for common pests like mango scale, mango shoot
                caterpillar, and mango hopper. Treat infestations promptly with
                appropriate insecticides. Also, watch for fungal diseases such
                as anthracnose and powdery mildew, and use fungicides as needed.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionfive" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsefive"
            >
              <p class="text-white">Fertilizer Application</p>
            </button>
          </h2>
          <div
            id="collapsefive"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionfive"
          >
            <div class="accordion-body">
              <p class="text-white">
                Fertilization Schedule: Mango trees benefit from regular
                fertilization, especially during the growing season (spring and
                summer). Use a balanced fertilizer with a higher potassium
                content (e.g., 10-10-10 or similar NPK ratio) or a fertilizer
                specifically formulated for fruit trees. Apply fertilizer every
                2-3 months during the growing season, starting in the second
                year of growth. Scatter the fertilizer evenly Fertilizer
                Application around the drip line of the tree (the area under the
                outermost branches). Water the area thoroughly after applying
                fertilizer to help it penetrate the soil.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionsix" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsesix"
            >
              <p class="text-white">Harvest</p>
            </button>
          </h2>
          <div
            id="collapsesix"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionsix"
          >
            <div class="accordion-body">
              <p class="text-white">
                Depending on the mango variety, fruits typically mature 3-6
                months after flowering. Harvest ripe fruits by gently twisting
                them or using pruning shears. Remember, mango trees are tropical
                plants and require warm temperatures to thrive. several months
                depending on the variety and storage conditions. By following
                these detailed steps, including proper fertilization techniques,
                you'll be well on your way to growing your own delicious carrots
                right in your backyard.
              </p>
            </div>
          </div>
        </div>
      </div>

       <!--  footer -->
 <footer>
  <div class="footer">
     <div class="container">
        <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="hedingh3  text_align_left">
                       <h3>Newsletter</h3>
                       <form id="colof" class="form_subscri">
                          <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                          <button class="subsci_btn"><img src="images/new.png" alt="#"/></button>
                       </form>
                       
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="hedingh3 text_align_left">
                       <h3> Explore</h3>
                       <ul class="menu_footer">
                          <li><a class="active" href="index.html">Home</a></li>
                          <li><a href="service.html">Product</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="testimonail.html">Contact Us</a></li>
                          </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="hedingh3 text_align_left">
                       <h3>Recent Posts</h3>
                       <ul class="recent">
                          <li><img src="images/resent.jpg" alt="#"/>Vegetables and some njhfajf</li>
                          <li><img src="./tomatoes.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                       </ul>
                    </div>
                 </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="hedingh3  flot_right text_align_left">
                       <h3>ContacT</h3>
                       <ul class="top_infomation">
                          <li><i class="fa fa-phone" aria-hidden="true"></i>
                             +233-54-772-8884
                          </li>
                          <li><i class="fa fa-envelope" aria-hidden="true"></i>
                             <a href="Javascript:void(0)">adue37737@gmail.com</a>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
      
     <div class="copyright">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-8">
                 <p>© 2024 All Rights Reserved</p>
              </div>
              <div class="col-md-4">
                    <ul class="social_icon ">
                       <li><a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                       <li><a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                       <li><a href="linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!-- end footer -->
    </div>
    <script src="./js11/bootstrap.bundle.min.js"></script>
  </body>
</html>