<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="./css11/bootstrap.min.css" />
    <title>Pepper</title>
  </head>
  <body>

 <!-- header -->
 <header class="header-area">
  <div class="container-fluid">
     <div class="row d_flex">
        <div class=" col-md-2 col-sm-3">
           <div class="logo">
              <a href="Home_PAGE.html" style="font-size: 30px;">Farm<span>Docc</span></a>
           </div>
        </div>
        <div class="col-md-8 col-sm-9">
           <div class="navbar-area">
              <nav class="site-navbar">
                 <ul>
                    <li><a class="active" href="Home_PAGE.html">Home</a></li>
                    <li><a href="Product.WEB.html">Product</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                      <li><a href="Contact_US.html">Contact Us</a></li>
                    
                    

                 </ul>
                 <button class="nav-toggler">
                 <span></span>
                 </button>
              </nav>
              <div class="col-md-2 padd_0 d_none">
                <ul class="email text_align_right" style="padding-top: 1.4em; padding-left: 20em;">
                 <li><a href="Landing_PAGE.html" style="color:#6b7908; font-weight: bold; font-size: 25px;" >Logout</a>
                </ul>
             </div>
           </div>
        </div>
        <!-- <div class="col-md-2 padd_0 d_none">
           <ul class="email text_align_right">
            <li><a href=".Landingpage.com" style="color:#6b7908; font-weight: bold; font-size: 25px;">Logout</a>
           </ul>
        </div> -->
     </div>
  </div>
  
</header>
<!-- end header inner -->





    <div class="mx-2 p-0">

      <div
        class="container-xl mb-5 border-0 rounded-4"
        style="
          background-image: url(./asset/img/pepper.jpg);
          background-size: cover;
          height: 500px;
          width: 1500px;
          background-position: center;
          margin-top: 150px;
        "
      ></div>
      <div
        class="container-xl border border-dark shadow-lg rounded-4 bg-success mb-5"
      >
        <p class="text-center text-white h5 py-5">
          Peppers, scientifically Capsicum spp., are known for their varied
          flavors and vibrant colors. Thriving in warm climates, peppers come in
          various shapes and heat levels, such as bell peppers and chili
          peppers.
        </p>
      </div>

      <div id="myaccordion" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
            >
              <p class="text-white">Planting Pepper</p>
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordion"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Choose pepper varieties suited to your climate and preferred
                taste preferences (e.g., sweet peppers, hot peppers). <br />
                - Popular sweet pepper varieties include Bell peppers, Banana
                peppers, and Pimiento peppers. Popular hot pepper varieties
                include Jalapeño, Habanero, and Cayenne.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordiontwo" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
            >
              <p class="text-white">Germination</p>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordiontwo"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Peppers are typically grown from seeds. <br />
                - Start pepper seeds indoors 8-10 weeks before the last frost
                date in your area. <br />
                - Plant seeds ¼ inch deep in seed-starting trays or small pots
                filled with seed-starting mix. <br />
                - Maintain a warm temperature of around 70-80°F for optimal
                germination. <br />
                - Keep the soil consistently moist but not waterlogged. <br />
                - Pepper seeds usually germinate within 7-14 days.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionthree" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsethree"
            >
              <p class="text-white">Caring For Seedlings</p>
            </button>
          </h2>
          <div
            id="collapsethree"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionthree"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Peppers are typically grown from seeds. <br />
                - Start pepper seeds indoors 8-10 weeks before the last frost
                date in your area. <br />
                - Plant seeds ¼ inch deep in seed-starting trays or small pots
                filled with seed-starting mix. <br />
                - Maintain a warm temperature of around 70-80°F for optimal
                germination. <br />
                - Keep the soil consistently moist but not waterlogged. <br />
                - Pepper seeds usually germinate within 7-14 days.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionfour" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsefour"
            >
              <p class="text-white">Cultivation</p>
            </button>
          </h2>
          <div
            id="collapsefour"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionfour"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Peppers prefer well-drained, loamy soil with a pH between 6.0
                and 6.8. <br />
                - Water pepper plants regularly, aiming to keep the soil
                consistently moist but not waterlogged. <br />
                - Mulch around pepper plants to help retain soil moisture and
                suppress weeds. <br />
                - Avoid overhead watering to prevent fungal diseases.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionfive" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsefive"
            >
              <p class="text-white">Fertilization</p>
            </button>
          </h2>
          <div
            id="collapsefive"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionfive"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Peppers have moderate fertilizer requirements. <br />
                - Incorporate compost or well-aged manure into the soil before
                planting to provide nutrients. <br />
                - Side-dress pepper plants with a balanced fertilizer (such as
                10-10-10) once or twice during the growing season. <br />
                - Avoid high-nitrogen fertilizers, as they can promote excessive
                leafy growth at the expense of fruit production. <br />
              </p>
            </div>
          </div>
        </div>
      </div>

      <div id="myaccordionsix" class="accordion container-xl mb-5">
        <div class="accordion-item bg-success">
          <h2 class="accordion-header">
            <button
              class="accordion-button bg-success"
              data-bs-toggle="collapse"
              data-bs-target="#collapsesix"
            >
              <p class="text-white">Harvesting</p>
            </button>
          </h2>
          <div
            id="collapsesix"
            class="accordion-collapse collapse show"
            data-bs-parent="#myaccordionsix"
          >
            <div class="accordion-body">
              <p class="text-white">
                - Peppers are typically ready for harvest 60-90 days after
                transplanting, depending on the variety. <br />
                - Harvest peppers when they reach the desired size and color.
                Most varieties can be harvested when they are firm and fully
                colored. <br />
                - Use a sharp knife or scissors to cut peppers from the plant,
                leaving a short stem attached. <br />
                - Store harvested peppers in a cool, dry place or refrigerate
                them for longer shelf life.
              </p>
            </div>
          </div>
        </div>
      </div>

       <!--  footer -->
 <footer>
  <div class="footer">
     <div class="container">
        <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="hedingh3  text_align_left">
                       <h3>Newsletter</h3>
                       <form id="colof" class="form_subscri">
                          <input class="newsl" placeholder="Enter Email" type="text" name="Email">
                          <button class="subsci_btn"><img src="images/new.png" alt="#"/></button>
                       </form>
                       
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="hedingh3 text_align_left">
                       <h3> Explore</h3>
                       <ul class="menu_footer">
                          <li><a class="active" href="index.html">Home</a></li>
                          <li><a href="service.html">Product</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="testimonail.html">Contact Us</a></li>
                          </ul>
                    </div>
                 </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="hedingh3 text_align_left">
                       <h3>Recent Posts</h3>
                       <ul class="recent">
                          <li><img src="images/resent.jpg" alt="#"/>Vegetables and some njhfajf</li>
                          <li><img src="./tomatoes.jpg" alt="#"/>ea commodo consequat. Duis aute </li>
                       </ul>
                    </div>
                 </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="hedingh3  flot_right text_align_left">
                       <h3>ContacT</h3>
                       <ul class="top_infomation">
                          <li><i class="fa fa-phone" aria-hidden="true"></i>
                             +233-54-772-8884
                          </li>
                          <li><i class="fa fa-envelope" aria-hidden="true"></i>
                             <a href="Javascript:void(0)">adue37737@gmail.com</a>
                          </li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>
      
     <div class="copyright">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-8">
                 <p>© 2024 All Rights Reserved</p>
              </div>
              <div class="col-md-4">
                    <ul class="social_icon ">
                       <li><a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                       <li><a href="twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                       <li><a href="linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!-- end footer -->
    </div>
    <script src="./js11/bootstrap.bundle.min.js"></script>
  </body>
</html>
